@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  box-sizing: border-box;
}

.main_container{
  font-family:sans-serif;
  background: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
.animate
{
  animation: transitionIn 0.7s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.card{
  max-width: 380px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: black;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(246, 244, 244, 0.2);
}
/* .card[data-state="#about"]{
  height: 450px;
  width: 360px;
} */
.card .card_main{
  padding-top: 0px;
  margin-top: 20px;
}
.card_header{
  position: relative;
  display: flex;
  /* height: 170px; */
  width: 100%;
  transition: 0.3s;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}
.card_header *{
  transition: 0.3s;
}
.card_cover{
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  background-size: cover;
  filter: blur(30px);
  transform: scale(1.2);
  transform: 0.5s;
}
.card_pic{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.card_fullname{
 font-size: 22px;
 font-weight: 700;
 text-align: center;
 white-space: nowrap;
 margin: 10px;
 color: #bb89bf;
}
.card_jobtitle{
  color: #bb89bf;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  margin: 0px 10px;
 }
 .card_content{
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
 }
 .card_section{
  margin: 10px 0px;
 }
 .card_subtitle{
  color: #85478a;
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
 }
.about_data{
  color: #bb89bf;
  margin: 5px 0px 0px;
}
.card_social{
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
  align-items: center;
  justify-items: center;
 }
 .card_social_icons{
  margin-right: 3px;
 }
 .card_buttons{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }
 .card_buttons button {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #bb89bf;
  font-size: 18px;
  font-weight: 600;
 }
 .card_buttons button:hover,
 .card_buttons button.is_active
 {
  color: #85478a;
  border-bottom: 5px solid #652d6a;
 }
 .card_social_icons{
  fill: #bb89bf;
 }
 .card_social_icons svg:hover{
  fill: #652d6a;
 }
 .card_item_title{
  color: #bb89bf;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 15px;
 }
 .card_item_desp{
  color: #85478a;
  font-size: 15px;
 }
 .card_item{
  padding: 5px 0px 0px 60px;
  position: relative;
  z-index: 1;
  margin: 10px;
 }
 .card_item::after{
  content: attr(data-year);
  width: 10px;
  color: #bb89bf;
  position: absolute;
  top: 12%;
  left: 37px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid ;
  font-size: 14px;
  text-indent: -45px;
  background:linear-gradient(to bottom, #bb89bf 0%, #652d6a 100%) ;
 }
 .card_item_desp::before{
  background: linear-gradient( to top, #bb89bf 0%, #652d6a 100% );
  content: "";
  position: absolute;
  left: 40px;
  top: 15px;
  width: 2px;
  height: 80px;
 }
 .card_projects::before{
  background: linear-gradient( to top, #bb89bf 0%, #652d6a 100% ) !important;
  content: "";
  position: absolute;
  left: 40px;
  top: 15px;
  width: 2px;
  height: 50px;
 }
 .card_projects{
  display: flex;
  flex-direction: row;
  align-items: center;
 }
.card_contact{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card_contact_icon{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.card_contact_details{
  color: #bb89bf;
  font-size: 14px;
  margin: 10px;
  text-decoration: none;
}
.card_project_icons{
  width: 30px;
  height: 30px;
}
.card_projects_details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}
.card_project_title{
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  color: #bb89bf;
}
.resume_download{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume_download_text{
  font-size: 10px;
  color: greenyellow;
  margin: 0px;
  margin-left: 3px;
}